header {
    background-color: #008C8C;
    color: white;
    text-align: center;
    padding: 50px;
}

/*titolo centrato e utilizzo di flex*/
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
}

/*padding contenuto pagina sotto header*/

main {
    padding: 20px;
    /*immagine centrata e massima larghezza raggiungibile per adattarla anche al mobile*/
    margin: 0 auto;
    /*in contenitore non deve andare oltre di tot pixel*/
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/*Carattertistiche dei box*/
.box {
    background-color: #c0e3ea;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /*larghezza minima per restringere le box nel mobile*/
    min-width: 250px;
    /*dimensione 1 terzo dello schermo, essenziale per andare a capo nel mobile*/
    width: calc(100% / 3 - 64px / 3);
}

/*Titolo e immagine dentro i box*/
.titolo-immagine {
    display: flex;
    align-items: center;
    max-width: 400px;
}

/* aggiunta dei font nuovi*/

h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("Poppins-Regular.ttf") format("truetype");
    font-style: normal;
}

p {
    font-family: 'Poppins', sans-serif;
    margin-top: 1px;
}

/* Dimensioni e posizione delle immagini*/
img {
    width: 100px;
    height: auto;
    transform: translateY(-15px);
}